################
# root junk    #
################
*.pcm
*ACLiC*
*so
*d
*.o
################
# afs sadness  #
################
._*
################
# general junk #
################
*.dvi
*.png
*.root
*.pdf
*.err
*.error
*.condor
*.log
*.out
*.aux
*.tex
*tmp*
*test*
*Test*
*.tgz
*.swp
################
# log files    #
################
*/log/*
*/Result*/*
